.*.swp
BWAPI/MPQdraft/
BWAPI/SCProjects/AIModuleLoader/
BWAPI/SCProjects/BTHAIChaosLauncherInjector/
BWAPI/SCProjects/BTHAICommandCenter/
BWAPI/SCProjects/BTHAIModule/.svn/
BWAPI/SCProjects/BTHAIModule/BTHAIModule.vcproj
BWAPI/SCProjects/BTHAIModule/BTHAIModule.vcproj.RYMDPUNG.rymdpung.user
BWAPI/SCProjects/BTHAIModule/Release/
BWAPI/SCProjects/Debug/
BWAPI/SCProjects/Release/
BWAPI/SCProjects/SCProjects.ncb
BWAPI/SCProjects/SCProjects.sln
BWAPI/SCProjects/SCProjects.suo
BWAPI/SCProjects/include/
BWAPI/SCProjects/install.bat
BWAPI/SCProjects/lib/
BWAPI/WINDOWS/
BnetLog.txt
BrooDat.mpq
BroodWar.mpq
EditLocal.dll
Errors/
License.html
License.txt
Local.dll
Maps/
Register Starcraft.url
Riched20.dll
SEditDEU.loc
SEditENU.loc
SEditESP.loc
SEditFRA.loc
SEditITA.loc
SEditPTB.loc
Smackw32.dll
StarCraft Install Log.html
StarCraft Manual.pdf
StarCraft.exe
StarDat.mpq
StarEdit.cnt
StarEdit.exe
StarEdit.hlp
Starcraft.mpq
battle.snp
bncache.dat
bnupdate.exe
bnupdate.log
bwapi-data/AI/
bwapi-data/BWTA/
bwapi-data/Multiple Instance Hack.bat
bwapi-data/data/
bwapi-data/logs/
bwapi-data/revisions/
chaoslauncher/
characters/
patch.txt
patch_rt.mpq
standard.snp
storm.dll
wmode.ini
