.*.swp
bwapi/MPQdraft/
bwapi/SCProjects/AIModuleLoader/
bwapi/SCProjects/BTHAIChaosLauncherInjector/
bwapi/SCProjects/BTHAICommandCenter/
bwapi/SCProjects/BTHAIModule/.svn/
bwapi/SCProjects/BTHAIModule/BTHAIModule.vcproj.RYMDPUNG.rymdpung.user
bwapi/SCProjects/BTHAIModule/BTHAIModule.vcproj.tweek.zarac.user
bwapi/SCProjects/BTHAIModule/Release/
bwapi/SCProjects/Debug/
bwapi/SCProjects/Release/
bwapi/SCProjects/SCProjects.ncb
bwapi/SCProjects/SCProjects.suo
bwapi/SCProjects/include/
bwapi/SCProjects/install.bat
bwapi/SCProjects/lib/
bwapi/WINDOWS/
BnetLog.txt
BrooDat.mpq
BroodWar.mpq
EditLocal.dll
Errors/
License.html
License.txt
Local.dll
Maps/
Register Starcraft.url
Riched20.dll
SEditDEU.loc
SEditENU.loc
SEditESP.loc
SEditFRA.loc
SEditITA.loc
SEditPTB.loc
Smackw32.dll
StarCraft Install Log.html
StarCraft Manual.pdf
StarCraft.exe
StarDat.mpq
StarEdit.cnt
StarEdit.exe
StarEdit.hlp
Starcraft.mpq
battle.snp
bncache.dat
bnupdate.exe
bnupdate.log
bwapi-data/AI/
bwapi-data/BWTA/
bwapi-data/Multiple Instance Hack.bat
bwapi-data/data/
bwapi-data/logs/
bwapi-data/revisions/
chaoslauncher/
characters/
patch.txt
patch_rt.mpq
standard.snp
storm.dll
wmode.ini
